:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-header-color: #ffffff;
  --headers-color: #212121;
  --simple-text-color: #757575;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.lists {
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* =================== COMPONENTS =================== */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}
.logo-link span {
  color: var(--accent-color);
}

.sections-headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--headers-color);
  text-align: center;
}
/* =================== END COMPONENTS =============== */

/* =================== HEADER ======================= */
header {
  border-bottom: 1px solid #ececec;
}
header .logo-link {
  color: var(--headers-color);
  margin: 25px 93px 25px 0px;
}

header .container {
  display: flex;
}

.navi {
  display: flex;
}

header .lists {
  display: flex;
  align-items: center;
}

.navi-list-item:not(:last-child) {
  margin-right: 50px;
}
.navi-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--headers-color);
}

.navi-list-link.active {
  color: var(--accent-color);
}

.header-contact-list {
  margin-left: auto;
}

.header-contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--simple-text-color);
}

.navi-list-link:hover,
.header-contact-link:hover,
.navi-list-link:focus,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* =================== END HEADER =================== */

/* =================== HERO ========================= */
.hero-section {
  background-color: #2f303a;
  padding: 200px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-header-color);
  width: 696px;
  margin: 0 auto 30px;
  text-align: center;
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-header-color);
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* =================== END HERO ===================== */

/* =================== OUR ADVANTAGES LIST ========== */
.our-advantages-section {
  padding: 94px 0 47px 0;
}

.advantages-list {
  display: flex;
  /* justify-content: space-between; */
}

.advantages-list li {
  width: 270px;
}

.advantages-list li:not(:last-child) {
  margin-right: auto;
}

.advantages-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-color);
  margin-bottom: 10px;
}

.advantages-list p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--simple-text-color);
}
/* =================== END OUR ADVANTAGES LIST ====== */

/* =================== WHAT ARE WE DOING ============ */
.what-are-we-section {
  padding: 47px 0 94px 0;
}

.what-are-we-header {
  margin-bottom: 50px;
}

.what-are-we-list {
  display: flex;
  justify-content: space-between;
}
/* =================== END WHAT ARE WE DOING ======== */

/* =================== OUR TEAM ===================== */
.our-team-section {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.our-team-header {
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  justify-content: space-between;
}

.our-team-list-item {
  background-color: var(--main-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.our-team-list-item img {
  margin-bottom: 30px;
}

.our-team-list-item h3 {
  margin-bottom: 10px;
  text-align: center;
}

.our-team-list-item p {
  text-align: center;
}

.our-team-list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}
.our-team-list-position {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--simple-text-color);
}
/* =================== END OUR TEAM ================= */

/* =================== FOOTER ======================= */
footer {
  background-color: #2f303a;
  min-height: 252px;
  padding: 57px 0;
}

footer .logo-link {
  color: var(--main-header-color);
  display: block;
  margin-bottom: 20px;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-list-link,
.footer-contact-list-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-list-link {
  color: var(--main-header-color);
}

.footer-contact-list-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-list-link:hover,
.footer-contact-list-link:hover,
.footer-address-list-link:focus,
.footer-contact-list-link:focus {
  color: var(--accent-color);
}
/* =================== END FOOTER =================== */
